* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

h2 {
    color: #565656;
    display: block;
    border-left: #ded6af 6px solid;
    margin-bottom: 20px;
    padding: 0 0 2px 13px;
    font-weight: 600;
}

.preload {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #fff;
    background-image: url('https://38.media.tumblr.com/bec5933eea5043acf6a37bb1394384ab/tumblr_meyfxzwXUc1rgpyeqo1_400.gif');
    background-size: 298px 298px;
    background-position: center;
    background-repeat: no-repeat;
}

.topo {
    background: rgba(253, 246, 218, 0.98);
    border-top: 0.6em darkred solid;
    min-width: 300px;
}

.cabecalho img {
    max-width: 180px;
    /* background: #fff; */
    padding: 8px 20px 19px;
    z-index: 1000;
    position: relative;
    bottom: -12px;
    margin-top: -12px;
}

.midias_sociais li {
    max-width: 25px;
    float: left;
    list-style: none;
    margin-left: 10px;
}

.midias_sociais li a:hover {
    display: block;
    background: #a71c20;
    transform-duration: 0.5s;
}

.navbar-brand img {
    max-width: 40px;
    background: none;
    padding: 0;
    z-index: 1000;
    position: relative;
    bottom: none;
    margin-top: none;
}

.top_row {
    box-sizing: border-box;
    padding: 0px 26px;
}

#ao_topo {
    width: 100px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.main_menu {
    float: right;
    position: relative;
    bottom: 0px;
    top: 1em;
}

.affix {
    position: fixed;
    top: 0;
    width: 10.5em;
    transition: 1s;
    transition-duration: 1s;
}

.banner img {
    max-width: 1122px;
    /* MÃ¡ximo da largura da imagem */
    width: 100%;
    /* max-height: 300px;
     MÃ¡ximo da altura da imagem */
    min-height: auto;
    /* MÃ­nimo da altura, por padrÃ£o â€œautoâ€ */
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #5a5a5a;
    /* background: white; */
    border-radius: 0;
}

.pesquisa_campo {
    background: #232323;
    border: 2px #aba9a9 solid;
    border-radius: 20px;
    color: #a5adad;
    height: 26px;
}

.form-control:focus {
    transform-duration: .5s;
    transition-duration: .5s;
    background: #ffffff;
    border: 2px #a71c20 solid;
    color: #1d1d1d;
}

.btn_pesquisa {
    background: #484646;
    height: 26px;
    border: 2px #aba9a9 solid;
    border-radius: 20px;
    margin-top: -1px;
    color: lightgray;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #ab1a1a;
    color: #fff;
    transition-duration: 0.2s;
    border-bottom: red solid 2px;
    transition: .5s;
}

.nav>li>a:focus {
    text-decoration: none;
    background-color: #1e1e1e;
    color: #fff;
    transition-duration: 0.2s;
}

.footer_row {
    display: block;
    background: rgba(10, 9, 9, 0.71);
    border-top: 0.4em darkred solid;
    min-width: 300px;
    min-height: 10em;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.higligths ul {
    float: left;
}

.higligths li {
    display: block;
    list-style: none;
    float: left;
    padding: 10px 20px;
    max-width: 30%;
    text-align: center;
    font-weight: bold;
    background: #f9f9f9;
    margin: 5px;
    border-bottom: #cacaca 3px solid;
}

.higligths li img {
    max-width: 30%;
    float: none;
    display: block;
    text-align: center;
    margin: 10px auto;
}

.barra_top {
    background: #5a5a5a;
    padding: 2px;
}

.muda-liguagem img {
    max-width: 15px;
    margin: 2px;
    float: left;
}

.muda-liguagem li {
    display: block;
    float: left;
    padding: 0 2px;
    width: 60px;
}

.muda-liguagem li:hover {
    background: #efefef;
    color: #333;
}

.muda-liguagem li a {
    display: block;
    color: gainsboro;
}

.muda-liguagem li a:hover {
    text-decoration: none;
    color: #333;
}

.navbar-toggle {
    padding: 0;
    margin-top: .5em;
}

.navbar-brand {
    height: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    float: none;
}

.img-responsive {
    max-width: 2000px;
    height: 1000px;
    background: url(img/slids/crianca_ipad.jpg) space cover;
}

.area_do_cliente {
    padding: 1px 22px;
    font-weight: bold;
    background: #8b0000;
    color: #f7f7f7;
    border: #212020 solid 2px;
    position: relative;
    /* right: 2px; */
    margin: 0 auto;
    float: right;
    max-width: 137px;
    text-align: center;
}

.area_do_cliente:hover {
    background: #171717;
    color: #f7f7f7;
}

.imagem img {
    width: 65%;
    float: right;
}

p.descricao_pesquisas {
    display: block;
    width: 35%;
    padding-right: 20px;
}

.msg_home {
    height: 42.2em;
    padding: none;
}

.social-nav {
    /* background-color: rgb(255, 255, 255); */
    /* width: 150px; */
    /* height: 400px; */
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 50%;
    /* margin-bottom: -15%; */
    transform: translateY(-50%);
    padding: 20px 0;
    transform: 1s;
    transition-duration: 0.5s;
    text-align: right;
    z-index: 200;
}

.social-nav ul li {
    list-style: none;
    display: block;
    /* float: left; */
    background: #fff;
    padding: 10px 40px 10px 10px;
    margin: 2px;
    max-width: 141px;
    transition-duration: 0.5s;
}

.social-nav li:hover {
    max-width: 160px;
    transition-duration: 0.5s;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.dstks {
    background: rgba(10, 0, 0, 0.69);
}

.col-lg-12.col-md-12.msg_home h1 {
    margin-top: 2em;
    font-size: -webkit-xxx-large;
    font-size: 5em;
    color: #8b0000;
    font-weight: 700;
    margin-left: 40px;
}

.col-lg-12.col-md-12.msg_home h3 {
    /* margin-top: 2em; */
    font-size: -webkit-xxx-large;
    font-size: 4em !important;
    font-size: 1em;
    color: #232323;
    margin-left: 38px;
}

.col-lg-12.col-md-12.msg_home p {
    margin-top: 2em;
    font-size: -webkit-xxx-large;
    font-size: 1em;
    color: #333333;
    margin-left: 33px;
    display: block;
    max-width: 500px;
}

.cs-style-3 h3 {
    display: block;
    text-align: left;
    color: #adadad;
    max-width: 200px;
    float: left;
    margin-top: 1em;
}


/*----------------------------------
MODAL
---------------------------------------*/

.window {
    display: none;
    width: 90%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(255, 255, 255);
    z-index: 9900;
    color: #505050;
}

.window h2 {
    color: #8b0000;
}

.descricao_foto {
    width: 25%;
    margin-right: 10px;
    box-sizing: border-box;
    float: left;
    padding: 1.4em;
}

.img_infra {
    float: left;
    width: 70%;
}

.img_infra img {
    max-width: 100%;
}

#mascara {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
}

.fechar {
    display: block;
    text-align: right;
}

.fechar span {
    display: block;
    color: #fff;
    background: #333;
    padding: 2px;
}


/* slide home */

.texto_slide {
    color: #efefef;
    text-align: left;
    background: rgba(60, 56, 56, 0.7);
    padding: 4% 2em 0 3em;
    position: absolute;
    top: 0em;
    height: initial;
    max-width: 562px;
    left: 10em;
    bottom: 0;
    font-size: 1em;
}

.texto_slide h3 {
    display: block;
    background: rgba(10, 9, 9, 0.2);
    padding: 5px 10px;
    color: #f5deb3;
    border-bottom: 2px #a71c20 solid;
    max-width: 350px;
    border-radius: 0 22px 0 22px;
}

.texto_slide b,
strong {
    font-weight: bold;
    color: #a71c20;
}

.texto_slide h1 {
    font-weight: 600;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 4px;
}

.img-responsive {
    width: 50%;
}

.nav_institucional {
    margin: 20px 0;
    background: #eee;
}

.nav_institucional>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
    border-bottom: 2px #f3f3f3 solid;
}

.item>.btn {
    background: none;
    color: #fff;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 5px 10px;
    width: 60%;
    position: relative;
    left: 0;
}

.item .btn:hover {
    background: darkred;
    color: #fff;
}

.subtop {
    display: block;
    background: url(http://sites.ffclrp.usp.br/lapicc/novo/Content/slides/slider_12.jpg);
    background-position: center;
    max-background-size: 120%;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    height: 5em;
}

.nav-tabs a {
    color: #312020;
    font-weight: 700;
    border-radius: 60px;
}

.tab-content {
    margin-top: 2em;
}

.barra_lateral {}

.nav_institucional>li>a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background: #f9f9f9;
    border-bottom: 1px solid #a71c20;
}

.nav_institucional>li>a:hover {
    background: none;
    display: block;
    margin: 0;
    color: #fff;
    background: #525050;
    padding-left: 1em;
    transition: 0.4s;
    border-left: 3px #a71c20 solid;
}

.col-lg-10.col-md-10.col-sm-9.col-xs-12.corpo {
    padding: 0 30px;
}

.tabs-style-linemove img {
    max-width: 40px;
    float: left;
}


/*rodape*/

.localizacao {
    border: red 1px solid;
    padding: 10px;
}

.footer_row {
    color: #ccc;
    position: fixed;
}

.footer_row a {
    list-style: none;
    color: #ccc;
}

.footer_row a:hover {
    list-style: none;
    color: #ccc;
    text-decoration: none;
    font-weight: 600;
}

.icon {
    float: left;
    width: auto;
}

.icon_point {
    float: left;
    margin-right: 15px;
    height: 100%;
    max-width: 40px;
}

.mapa_site {
    padding: 0 20px;
}

.mapa_site ul li {
    list-style: none;
    float: left;
}

.mapa_site ul li a {
    padding: 4px 8px;
    display: block;
    background: #646464;
    margin: 1px;
}

.mapa_site ul li a:hover {
    font-weight: normal;
    background: #333333;
}

.mensagem {
    display: none;
}

#contact_cards .card_col>.wrapper {
    padding: 10px;
    color: #c0c0c0;
    text-align: center;
    height: 100%;
}

.wrapper img {
    max-width: 40px;
    margin-bottom: 1em;
}

.wrapper loc a {
    display: block;
    background: darkred;
}

.nav .link_blog a {
    display: block;
    border: 2px #aaa solid;
    padding: 10px 20px;
    color: #757575;
}

.copyrigths {
    background: rgba(10, 9, 9, 0.71);
    text-align: center;
    color: #757575;
    border-top: rgba(60, 56, 56, 0.7)solid 1px;
    padding-top: 3px;
}

.wrapper .btn {
    background: none;
    color: #fff;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 5px 10px;
    width: 60%;
}

.wrapper .btn:hover {
    background: darkred;
    color: #fff;
}

.posicao {
    position: static;
}

.dropdown-toggle>li>a:focus {
    text-decoration: none;
    background-color: #1e1e1e;
    color: #480202;
    transition-duration: 0.2s;
}

.dropdown-menu {
    background: none;
}

.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background: #f9f9f9;
    border-bottom: 1px solid #a71c20;
}

.dropdown-menu>li>a:hover {
    background: none;
    display: block;
    margin: 0;
    color: #fff;
    background: #525050;
    padding-left: 1em;
    transition: 0.4s;
    border-left: 3px #a71c20 solid;
}

muda-liguagem {
    color: #fff;
    background: #525050;
}

.chamadas {
    line-height: 1.5em;
    font-size: 1.3em;
    color: #8c7777;
    text-indent: 33px;
    margin: 50px 0px;
    background: #f5f5f5;
    padding: 50px 30px;
    color: #0e0e0e;
}

.content-wrap section h2 {
    text-align: left;
}

.content-wrap section .descricao {
    max-width: 45%;
    float: left;
}

.descricao_lateral ul {
    width: 200px;
    float: right;
}

.descricao_lateral ul li {
    list-style: none;
}

.descricao_lateral ul li a {
    display: block;
    background: #3f3f3f;
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 5px 0;
    padding: 4px 10px;
    text-align: -webkit-auto;
    border-left: #a71c20 solid 5px;
}

.descricao_lateral ul li a:hover {
    background: #a71c20;
    transition-duration: 0.5s;
}

.content-wrap section .descricao_lateral {
    width: 45%;
    float: left;
    list-style: none;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 0 20px;
}

.content-wrap section .descricao_lateral {
    margin-top: 0;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 1em;
    color: rgb(134, 130, 130);
    line-height: 1.2;
    font-size: 0.8em;
    text-align: -webkit-left;
    text-align: initial;
    font-weight: normal;
}

.corpo_home {
    /*background: url(../img/bg-home.jpg) center top / cover no-repeat rgb(204, 204, 204);*/
}

.grid {
    /* padding: 20px 20px 100px 20px; */
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 10%;
    margin: 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    float: left;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    width: 110%;
    /* display: block; */
    /* position: relative; */
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #8b0000;
    color: #fff;
}

.grid figcaption h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption span:before {
    content: 'by ';
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}


/* Individual Caption Styles */


/* Caption Style 3 */

.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

iframe {
    max-width: 933px;
    height: 700;
}


/*responsividade*/

@media screen and (max-width: 700px) {
    .texto_slide {
        text-align: left;
        padding: 4% 5em 0 5em;
        height: initial;
        left: 0;
        width: 104%;
    }
}

@media screen and (max-width: 620px) {
    .higligths_card {
        max-width: 100% !important;
        text-align: left !important;
    }
    .higligths_card img {
        width: 3em;
        margin: 0 15px !important;
        float: left !important;
    }
}