* {
    margin: 0;
    padding: 0;
}

.topo {
    background: #efefef;
    border-top: 0.6em darkred solid;
    min-width: 300px;
}

.cabecalho img {
    max-width: 180px;
}

.top_row {
    box-sizing: border-box;
    padding: 9px 26px;
}

.main_menu {
    float: right;
    position: relative;
    bottom: 0px;
    top: 1em;
}

.banner img {
    max-width: 1122px;
    /* Máximo da largura da imagem */
    width: 100%;
    /* max-height: 300px;
     Máximo da altura da imagem */
    min-height: auto;
    /* Mínimo da altura, por padrão “auto” */
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #ab1a1a;
    color: #fff;
    transition-duration: 0.2s;
}

.nav>li>a:focus {
    text-decoration: none;
    background-color: #1e1e1e;
    color: #fff;
    transition-duration: 0.2s;
}

.footer_row {
    display: block;
    background: rgba(10, 9, 9, 0.71);
    border-top: 0.4em darkred solid;
    min-width: 300px;
    min-height: 10em;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.higligths ul {
    float: left;
}

.higligths li {
    display: block;
    list-style: none;
    float: left;
    padding: 10px 20px;
    max-width: 30%;
    text-align: center;
    font-weight: bold;
    background: #f9f9f9;
    margin: 5px;
    border-bottom: #cacaca 3px solid;
}

.higligths li img {
    max-width: 30%;
    float: none;
    display: block;
    text-align: center;
    margin: 10px auto;
}

.muda-liguagem {
    position: absolute;
    top: 2px;
    border: 1px red solid;
}

.muda-liguagem img {
    max-width: 20px;
    margin: 2px;
    float: left;
}


/* slide home */

.texto_slide {
    color: #efefef;
    text-align: left;
    background: rgba(60, 56, 56, 0.7);
    padding: 4% 2em 0 3em;
    position: absolute;
    top: 0em;
    height: initial;
    max-width: 562px;
    left: 10em;
    bottom: 0;
    font-size: 1em;
}

.texto_slide h3 {
    display: block;
    background: rgba(10, 9, 9, 0.2);
    padding: 5px 10px;
    color: #f5deb3;
    border-bottom: 2px #a71c20 solid;
    max-width: 350px;
    border-radius: 0 22px 0 22px;
}

.texto_slide b,
strong {
    font-weight: bold;
    color: #a71c20;
}

.texto_slide h1 {
    font-weight: 600;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 4px;
}

.img-responsive {
    width: 50%;
}

.nav_institucional {
    margin: 20px 0;
    background: #eee;
}

.nav_institucional>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
    border-bottom: 2px #f3f3f3 solid;
}

.item>.btn {
    background: none;
    color: #fff;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 5px 10px;
    width: 60%;
    position: relative;
    left: 0;
}

.item .btn:hover {
    background: darkred;
    color: #fff;
}

.subtop {
    display: block;
    background: #221a1b;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

.nav-tabs a {
    color: #312020;
    font-weight: 700;
    border-radius: 60px;
}

.tab-content {
    margin-top: 2em;
}

.barra_lateral {}


/*rodape*/

.localizacao {
    border: red 1px solid;
    padding: 10px;
}

.footer_row {
    color: #ccc;
    position: fixed;
}

.footer_row a {
    list-style: none;
    color: #ccc;
}

.footer_row a:hover {
    list-style: none;
    color: #ccc;
    text-decoration: none;
    font-weight: 600;
}

.icon_point {
    float: left;
    margin-right: 15px;
    height: 100%;
    max-width: 40px;
}

.mapa_site {
    padding: 0 20px;
}

.mapa_site ul li {
    list-style: none;
    float: left;
}

.mapa_site ul li a {
    padding: 4px 8px;
    display: block;
    background: #646464;
    margin: 1px;
}

.mapa_site ul li a:hover {
    font-weight: normal;
    background: #333333;
}

.mensagem {
    display: none;
}

#contact_cards .card_col>.wrapper {
    padding: 10px;
    color: #c0c0c0;
    text-align: center;
    height: 100%;
}

.wrapper img {
    max-width: 40px;
    margin-bottom: 1em;
}

.wrapper loc a {
    display: block;
    background: darkred;
}

.nav .link_blog a {
    display: block;
    border: 2px #aaa solid;
    padding: 10px 20px;
    color: #757575;
}

.copyrigths {
    background: rgba(10, 9, 9, 0.71);
    text-align: center;
    color: #757575;
    border-top: rgba(60, 56, 56, 0.7)solid 1px;
    padding-top: 3px;
}

.wrapper .btn {
    background: none;
    color: #fff;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 5px 10px;
    width: 60%;
}

.wrapper .btn:hover {
    background: darkred;
    color: #fff;
}

.posicao {
    position: static;
}


/*responsividade*/

@media screen and (max-width: 700px) {
    .texto_slide {
        text-align: left;
        padding: 4% 5em 0 5em;
        height: initial;
        left: 0;
        width: 104%;
    }
}